.heading {
    background-color: darkorange;
    font-family: 'Autour One';
    text-align: center;
    font-size: 40px;
    padding: 1%; 
}

.liz {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: solid;
}

.meaning {
    border: solid;
    padding: 10px;
    border-color: darkorange; 
    font-family: 'Autour One';
    text-align: center;
}



h3 {
    text-decoration-line: underline; 
    text-decoration-color: darkorange; 
    
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    margin-top: 3%; 
    margin-bottom: 3%;
}

.border {
    border: solid; 
}
.communicate {
    font-size: 22px;
    text-align: center;
    background-color: darkorange; 
    padding: .3%; 
}

.communicate2 {
    font-size: 22px;
    margin-left: 35%;
    
}


.flex-container {
    background-color: darkorange;
    height: 5px;
    display: inline-block;
    /* justify-content: center; */
    justify-content: space-around;
  }